<table>
      <tr>
      	<th>Image</th>
         <th>ID</th>
         <th>Date</th>
         <th>Event</th>
         <th>Address</th>
         <th>Category</th>
         <th>Action</th>
      </tr>
      <% data.forEach(function(d,i) { %>
      <tr>
        <td id="id_<%=d.id%>" > i </td>
        <td id="event_<%=d.id%>" > <%=d.event%> </td>
        <td id="image_<%=d.id%>" > <%=d.image%> </td>
        <td id="eventdate_<%=d.id%>" > <%=d.eventdate%> </td>
        <td id="eventtime_<%=d.id%>" > <%=d.eventtime%> </td>
        <td id="address_<%=d.id%>" > <%=d.address%> </td>
        <td id="category_<%=d.id%>" > <%=d.category%> </td>
        <td>
          <button type="button" id=delete_<%=d.id%> class="delete">🗑</button>
        </td>
      </tr> 
    <% }) %> 
   </table>